[submodule "oz_externship_fe_template"]
	path = oz_externship_fe_template
	url = https://github.com/OZ-Coding-School/oz_externship_fe_template.git
[submodule "oz_externship_fe_01"]
	path = oz_externship_fe_01
	url = https://github.com/OZ-Coding-School/oz_externship_fe_01
[submodule "oz_externship_01_team1"]
	path = oz_externship_01_team1
	url = https://github.com/OZ-Coding-School/oz_externship_fe_01_team1.git
