[submodule "oz_externship_fe_template"]
	path = oz_externship_fe_template
	url = https://github.com/OZ-Coding-School/oz_externship_fe_template.git
[submodule "oz_externship_01_team1"]
	path = oz_externship_01_team1
	url = https://github.com/OZ-Coding-School/oz_externship_fe_01_team1.git
[submodule "oz_externship_01_team2"]
	path = oz_externship_01_team2
	url = https://github.com/OZ-Coding-School/oz_externship_fe_01_team2.git
[submodule "oz_externship_01_team3"]
	path = oz_externship_01_team3
	url = https://github.com/OZ-Coding-School/oz_externship_fe_01_team3.git
[submodule "oz_externship_01_team4"]
	path = oz_externship_01_team4
	url = https://github.com/OZ-Coding-School/oz_externship_fe_01_team4.git
[submodule "oz-externship"]
	path = oz-externship
	url = https://github.com/OZ-Coding-School/oz_externship_fe_02_team1.git
